{% extends "base.html" %}

{% block body %}

  
  <div class="main-store col-md-5 col-lg-4 mx-auto" dir="ltr">
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    
        {{ form.username.label_tag }}
        {{ form.username }}
        {{ form.password.label_tag }}
        {{ form.password }}
    <input type="submit" value="login" class="btn mt-3" />
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
  {% if form.errors %}
    <p style="color: red;">Your username and password didn't match. Please try again.</p>
  {% endif %}
  
  {% if next %}
    {% if user.is_authenticated %}
      <p style="color: red;">Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p style="color: red;">Please login to see this page.</p>
    {% endif %}
  {% endif %}
</div>
  
  {# Assumes you setup the password_reset view in your URLconf #}
  <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
  
{% endblock %}