{% load static %}
<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap-grid.css' %}">
    <link rel="stylesheet" href="{% static 'scss/style.css' %}">  
    <title>{% block title %}{% endblock title %}</title>
</head>
<body dir="rtl">
    <nav>
        <div class="row">
        <a class="logo" ><b>LOGO</b></a>
        <a class="menu" onclick="displayHide()"><i class="fas fa-bars"></i></a>
            <ul id="demo">
                <li><a href="{% url 'store:all_store' %}">الرئيسية</a></li>
                <li><a href="">دخول</a></li>
                <li><a href="{% url 'account:register' %}">تسجيل</a></li>
                <li><a>القائمة <i class="fas fa-sort-down"></i></a>
                    <ul class="list2">
                        {% for cg in category %}
                        <li><a href="{% url 'store:category' cg.id %}">{{ cg.name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li><a href="">تواصل معنا</a></li>
                
            </ul>
        </div>
        {% if user.username %}
            <ul dir="ltr">
                <li id="list3">
                    <a>{{ user.username }} <i class="fas fa-sort-down"></i></a>
                    <ul id="account_list">
                        <li><a href="">تغيير كلمة المرور</a></li>
                        <li><a href="">تسجيل الخروج</a></li>
                    </ul>
                </li>
            </ul>
        {% endif %}
        
    </nav>
    <div class="nav-mag">
        <img src="{% static 'images/shopping.jpg' %}" alt="">
        <h1>تسوق أونلاين</h1>
    </div>
    <main>
         <div class="col-12">
        <div class="row">
            <div class="col-md-10">
                {% block main %} 
                <div class="row">
                    {% block content %}
                    {% endblock content %}
                </div>
                
                {% if stors.has_other_pages %}
                    <ul class="pagination" dir="ltr">
                        {% if stors.has_previous %}  
                            <li><a href="?page={{ stors.previous_page_number }}"><i class="fas fa-angle-left"></i></a></li>
                        {% endif %}
                        
                        {% for i in stors.paginator.page_range %}
                            <li><a href="?page={{i}}">{{i}}</a></li>
                        {% endfor %}
                            
                        
                        {% if stors.has_next %} 
                            <li><a href="?page={{ stors.next_page_number }}"><i class="fas fa-angle-right"></i></a></li>
                        {% endif %}
                    </ul>
                {% endif %}
                {% endblock main %}
            </div>
            <div class="col-md-2">
                <ul class="list">
                    {% for cg in category %}
                        <li><a href="{% url 'store:category' cg.id %}">{{ cg.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        </div>
        
    </main>
    <footer>
        <div class="col-12">
        <div class="row">
            <div class="col-md-4" style="height: 300px;">
                <form action="" method="post">
                    <div class="container">
                        <label for="email">email:</label>
                    <input type="email" name="email" id="email">
                    <label for="message">message:</label>
                    <textarea name="message" id="message" cols="30" rows="10"></textarea>
                    <button type="submit">send</button>
                    </div>
                </form>
            </div>
            <div class="col-md-8">
                <div class="row" style="color: white;">
                    <div class="col-md-12 icon" style="height: 100px;">
                        <a onclick="facebook()"><i class="fab fa-facebook-square"></i></a>
                        <a onclick="instagram()"><i class="fab fa-instagram-square"></i></a>
                        <a onclick="twitter()"><i class="fab fa-twitter-square"></i></a>
                        <a onclick="snapchat()"><i class="fab fa-snapchat-square"></i></a>
                    </div>
                    <div class="col-md-6 contact">
                        <address><b>email:</b> yassinerahhaoui12@gmail.com</address>
                        <address><b>phone:</b> 212630034545</address>
                    </div>
                    <div class="col-md-6 created">
                        <address><b>created_by:</b> yassine rahhaoui</address>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </footer>
    
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'elevatezoom/jquery-1.8.3.min.js'%}"></script>
    <script src="{% static 'elevatezoom/jquery.elevateZoom-3.0.8.min.js'%}"></script>
    <script>
        $('#zoom_01').elevateZoom();
    </script>
</body>
</html>