.list{
    margin: 0;
    padding: 0;
    max-width: 180px;
    list-style-type: none;
    background-color: $primarycolor;
    display: block;
    border: 2px solid black;
    border-radius: 5px;
    position: sticky;
    top: 10px;
    li{
        padding: 10px;
        border-bottom: 2px solid black;
        a{
            text-decoration: none;
            color: black;
            font-family: $font1;
        }
    }
}

